#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#h1-header {
    padding-left: 15px;
}

nav {
    font-size: 24px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: #00f;
}

#top-section {
    text-align: center;
    font-size: x-large;
}

#middle-section {
    display: flex;
}

#middle-section-aside {
    margin: auto;
    padding: 10px;
}

#reviews {
    display: flex;
}

#review-left {
    margin: auto;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

#review-middle {
    margin: auto;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

#review-right {
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    height: 100px;
}